body {
  padding-top: 60px;
}

.css-label {
  cursor: pointer;
}
.css-checkbox {
  display: none;
}
.glyphicon-minus {
  display: none;
}
.css-checkbox:checked + .css-label .glyphicon-minus {
  display: inline;
}
.css-checkbox:checked + .css-label .glyphicon-plus {
  display: none;
}

.glyphicon-chevron-down {
  display: none;
}
.css-checkbox:checked + .css-label .glyphicon-chevron-down {
  display: inline;
}
.css-checkbox:checked + .css-label .glyphicon-chevron-up {
  display: none;
}

.glyphicon-collapse-down {
  display: none;
}
.css-checkbox:checked + .css-label .glyphicon-collapse-down {
  display: inline;
}
.css-checkbox:checked + .css-label .glyphicon-collapse-up {
  display: none;
}

.glyphicon-menu-down {
  display: none;
}
.css-checkbox:checked + .css-label .glyphicon-menu-down {
  display: inline;
}
.css-checkbox:checked + .css-label .glyphicon-menu-up {
  display: none;
}


.glyphicon-triangle-bottom {
  display: none;
}
.css-checkbox:checked + .css-label .glyphicon-triangle-bottom {
  display: inline;
}
.css-checkbox:checked + .css-label .glyphicon-triangle-top {
  display: none;
}
