body {
                margin: 60px auto;
                padding: 0px;
                max-width: 600px;
            }
.container a:link, .container  a:visited {
                text-decoration: underline;
                 color: #0000FF;
             }
.container a:hover {
                 color: #FF0000;
             }
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
nav a, footer a {
    text-decoration: none;
    color: #999;
}
nav a:hover, footer a:hover {
    text-decoration: underline;
            }
            p {
                margin-bottom: 0px;
            }
            ul {
                margin: 0px;
            }
            .banner {
                text-align: center;
                font-size: 20px;
            }
            .right {
                text-align: right;
            }
            .toggle {
                float: right;
                margin: 0px;
            }
            .deployment-text, .strategy-text, .scheme-text {
                font-size: smaller;
                border-left: 1px solid #DDDDDD;
                border-bottom: 1px solid #DDDDDD;
                background-color: #F9F9F9;
                padding: 5px;
                display: none;
            }
            .deployment-text, .strategy-text {
                margin-left: 10px;
            }
